@Medo3-coder:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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



# npm install @Medo3-coder/jobber-shared@0.0.1   use my name in captial not samll like on github

# npm install @Medo3-coder/jobber-shared --registry=https://npm.pkg.github.com/ -//npm.pkg.github.com/:_authToken="your-github-token"
